/* _content/budget-manager/Views/Account/Index.cshtml.rz.scp.css */
.container-totals[b-oabdu3n8gh] {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
}

.active[b-oabdu3n8gh] {
    color: #2E86C1;
}

.pasive[b-oabdu3n8gh] {
    color: #E74C3C;
}

.accordion-account button[b-oabdu3n8gh] {
    color: black !important;
}

.accordion-account button > span[b-oabdu3n8gh] {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.accordion-account ul li[b-oabdu3n8gh] {
    display: flex;
    justify-content: space-between;
}

.span_name[b-oabdu3n8gh] {
    display: inline-block;
    min-width: 130px;
}
/* _content/budget-manager/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-eptwo8w92f] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-eptwo8w92f] {
  color: #0077cc;
}

.btn-primary[b-eptwo8w92f] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-eptwo8w92f], .nav-pills .show > .nav-link[b-eptwo8w92f] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-eptwo8w92f] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-eptwo8w92f] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-eptwo8w92f] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-eptwo8w92f] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-eptwo8w92f] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
