@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categorías";
}

<h1>Categorías</h1>
<h5>La categoría nos permite indicar en qué gastamos nuestro dinero, 
    también, de dónde provienen nuestros ingresos.</h5>

<a asp-action="Create" class="btn btn-primary mb-3">Crear nuevo</a>

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Nombre</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>               
                <td>
                    @category.Name
                </td>
                <td>
                    @category.type_operation_id.ToString()
                </td>
                <td class="col-sm-4 col-md-2">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@category.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>