html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


#side_nav {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

#side_nav {
    z-index: 10 !important;
}

#content {
    height: 100vh;
}

hr.h-color {
    background: #eee;
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.active {
        margin-left: 0;
    }
}