@model AccountType

@{
    ViewData["Title"] = "Crear tipo cuenta";
}

<div class="w-50 m-auto">
    <h1 class="fs-4">Crear tipo de cuenta</h1>
    <p class="fw-light mb-4">
        El tipo de cuenta se refiere a cómo podemos agrupar cuentas.
        Ejemplo: Préstamos, tarjetas de crédito, etc.
    </p>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating mb-4">         
            <input type="text" asp-for="Name" class="form-control" placeholder="Nombre">
            <label asp-for="Name">Nombre</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-end gap-2">   
            <a class="btn btn-secondary px-3" asp-action="Index">Cancelar</a>
            <button type="submit" class="btn btn_primary px-3">Guardar</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}