@model AccountType

@{
    ViewData["Title"] = "Eliminar tipo cuenta";
}

<h3 class="mb-3">Está seguro que desea eliminar el tipo cuenta @Model.Name?</h3>

<form asp-action="DeleteAccountType">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>