<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Budget Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/budget_manager.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/e592da9494.js" crossorigin="anonymous"></script>
</head>
<body data-bs-theme="dark">

    <div class="main-container d-flex">
        <div class="sidebar bg-dark" id="side_nav">
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
                <h1 class="fs-4 px-2">Budget Manager</h1>
                <button class="btn d-md-none d-block close-btn px-1 py-0 text-white">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>

            <ul id="ul_sidebar" class="list-unstyled px-2">
                <li class="">                
                    <a class="text-decoration-none px-3 py-2 d-block" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-chart-simple"></i> Home
                    </a>
                </li>
                <li class="">
                    <a class="text-decoration-none px-3 py-2 d-block" asp-controller="AccountType" asp-action="Index">
                        <i class="fa-regular fa-font-awesome"></i> Tipos Cuentas
                    </a>
                </li>             
            </ul>
            <hr class="h-color mx-2">      

        </div>
        <div class="content">
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between d-md-none d-block">
                        <button class="btn px-1 py-0 open-btn me-2"><i class="fa-solid fa-bars"></i></button>
                    </div>
                    <button class="navbar-toggler p-0 border-0 mx-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-user"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0 mx-2">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-user"></i></a>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>

            <div class="container dashboard-content  px-3 pt-4">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>    
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
